


<div class="top-bar">
   <a href="#"> <img class="logo" src="http://www.psiog.com/logo.png">
   </a>
        <div class="top-bar-title">PSIOG Digital - 3.0</div>
        <div class="menu">
            <div *ngIf = "theUser">
            <ul>
                  <li class="nav-menu1"><a (click)="chooseMode('create')">Create Configuration</a></li>
                  
                <li class="nav-menu2"><a (click)="logout()">Logout</a></li>
                <li class="nav-menu4">{{theUser}}</li>
            </ul>
           </div>
        </div>
</div>

<div class="container">
<div class="verticalNavBar">    
   <ul>
           <li><a *ngIf="theUser ==='admin@psiog.com'" [routerLink]="['/admin']">Home</a>
            <a *ngIf="theUser != 'admin@psiog.com' " [routerLink]="['/admin/user']">Home</a></li>
           <li><a [routerLink]="['/admin/change']">Change</a></li>
           <li><a [routerLink]="['/admin/incidents']">Incidents</a></li>
           <li><a [routerLink]="['/admin/release']">Release & Deployment</a></li>
           <li><a class="active" [routerLink]="['/admin/Configuration']">Configurations</a></li>
           <li><a [routerLink]="['/admin/problem']">Problem</a></li>
           <li><a [routerLink]="['/admin/asset']">Asset</a></li>
           <li><a (click)="logout()">Log out</a></li>
   </ul>
</div>

     <div style="position: absolute; top: 0%; left: 20%; max-width: 60%;" [ngSwitch]="menuChoice">
        <div *ngSwitchCase="'create'"><create-cfg></create-cfg></div>
        <div *ngSwitchDefault>
            <div *ngIf = "formDisplay" class="row">
                  <div class="row" *ngFor="let Configuration of cfgs">
                     <div class="spacer"> 
                        <div class="media-object">
          
                         <div class="media-object-section main-section">
                            <table id="customers">
                               <tr>
                                  <th>TITLE</th>
                                  <th>TYPE</th>
                                  <th>RESOURCE</th>
                                  <th>CONTENT</th>
                                  <th>STATUS</th>
                                  <th>CREATED BY</th>
                               </tr>
                               <tr>
                           <td> <h4 style="font-weight: bold">{{Configuration.title}}</h4></td>
                           <td> <h4 style="font-weight: bold">{{Configuration.type}}</h4></td>
                           <td> <h4 style="font-weight: bold">{{Configuration.resource}}</h4></td>
                          <td>  <p>{{Configuration.content}}</p></td>
                          <td>  <h4 style="font-weight: bold">Status :  {{Configuration.status}}</h4></td>
                          <td><p>Created by: {{Configuration.userName}}</p></td></tr></table>
                            <div>
                               <button style= "cursor: pointer" class="btn1" (click)="editcfg(Configuration)" >Edit</button>
                               <button style= "cursor: pointer" class="btn2" (click)="closecfg(Configuration)" >Close cfg</button>
                            </div>
                         </div>
                        </div>
                     </div> 
                  </div>
               </div>
          
               <div *ngIf = "!formDisplay" class="row">
                   <form>
                      <div class="row1">
                         <div class="" style="left:20%;">
                            <label>Configuration Title<br>
                               <input type="text" [(ngModel)]="singlecfg.title"
                               name="edittitle" required #psTitle="ngModel">
                            </label>
                         </div>
                      </div>
                      <div class="row1">
                        <div class="" style="left:20%;">
                           <label>Configuration type<br>
                              <textarea rows="5" id="content" [(ngModel)]="singlecfg.type" 
                              name="edittype" required #psContent="ngModel"></textarea>
                           </label>
                        </div>
                     </div>
                      <div class="row1">
                         <div class="" style="left:20%;">
                            <label>Configuration resource<br>
                               <textarea rows="5" id="content" [(ngModel)]="singlecfg.resource" 
                               name="editresource" required #psContent="ngModel"></textarea>
                            </label>
                         </div>
                      </div>
                      <div class="row1">
                        <div class="" style="left:20%;">
                           <label>Configuration Content<br>
                              <textarea rows="5" id="content" [(ngModel)]="singlecfg.content" 
                              name="editContent" required #psContent="ngModel"></textarea>
                           </label>
                        </div>
                     </div>
                      <div style="left: 20%;" class="btn">
                         <div>
                             <div>
                                 <button style="background-color: green; color:white"class="success" type="button" [disabled]="!psTitle.valid || !psContent.valid" 
                                  (click)="updatecfg(singlecfg)">Update Configuration</button>
                                 <button style="background-color: red; color:white" class="cancel" type="button" (click)="cancelEdit()">Cancel</button>
                             </div>      
                         </div>
                  </div>
                   </form>
               </div>
          
          
          
             </div>
          </div>
          </div>