<!-- <div class="top-bar">
   <a href="#"> <img class="logo" src="http://logodust.com/img/free/logo28.png">
   </a>
        <div class="top-bar-title">CMV Management V2.0
        <div class="menu">
            <ul>
                <a [routerLink]="['/admin']"> <button class="button button1">Log In</button></a>
            </ul>
        </div>
    </div> -->
    <div class="top-bar">
        <a href="#"> <img class="logo" src="http://www.psiog.com/logo.png">
        </a>
             <div class="top-bar-title">PSIOG Digital - 3.0
             <div class="menu">
                 <ul>
                    <a style="display: inline" [routerLink]="['/admin']"><button class="button button1">Log In</button></a>
                 </ul>
             </div>
         </div>
     </div>
    <div>
    <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a [routerLink]="['../admin']">Signup</a></li>
          </ul>


