<div class="top-bar">
        <a href="#"> <img class="logo" src="http://www.psiog.com/logo.png">
        </a>
             <div class="top-bar-title">PSIOG Digital - 3.0</div>
             <div class="menu">
                 <div *ngIf = "theUser">
                 <ul>
                    <li class="nav-menu1"><a (click)="chooseMode('create')">Create change</a></li>
                    <li *ngIf="menuChoice" class="nav-menu3"><a [routerLink]="['/admin']" (click)="chooseMode('')">Home</a></li>
                    <li class="nav-menu2"><a (click)="logout()">Logout</a></li>
                    <li class="nav-menu4">{{theUser}}</li>
                 </ul>
                </div>
             </div>
     </div>
     <div class="container">
     <div class="verticalNavBar">    
         <ul>
                 <li><a *ngIf="theUser ==='admin@psiog.com'" [routerLink]="['/admin']">Home</a>
                  <a *ngIf="theUser != 'admin@psiog.com' " [routerLink]="['/admin/user']">Home</a></li>
                 <li><a  [routerLink]="['/admin/change']">Change</a></li>
                 <li><a [routerLink]="['/admin/incidents']">Incident</a></li>
                 <li><a class="active" [routerLink]="['/admin/release']">Release & Deployment</a></li>
                 <li><a [routerLink]="['/admin/Configuration']">Configurations</a></li>
              <li><a [routerLink]="['/admin/problem']">Problem</a></li>
              <li><a [routerLink]="['/admin/asset']">Asset</a></li>
                 <li><a (click)="logout()">Log out</a></li>
         </ul>
     </div>
     <div style="position: absolute; top: 10%; left: 25%; width: 100%" [ngSwitch]="menuChoice">
        <div *ngSwitchCase="'create'"><create-change></create-change></div>
        <div *ngSwitchDefault>
     <div *ngIf = "formDisplay" class="row">
        <div style="width: 850px;" class="row" >
           <div class="spacer"> 
              <div class="media-object">
                     <div class="media-object-section main-section">
                           <table id="customers" >
                              <tr>
                                 <th>CHANGE ID</th>
                                 <th>TITLE</th>
                                 <th>DESCRIPTION</th>
                                 <th>START TIME</th>
                                 <th>END TIME</th>
                                 <th>ASSIGNED TO</th>
                                 <th>CONTACT</th>
                                 <th>RESOLUTION</th>
                                 <th>CREATED BY</th>
                                 <th>STATUS</th>
                              </tr>
                              <tr *ngFor="let change of changes" >
                          <td><p>{{change.id}}</p></td>
                          <td><p>{{change.title}}</p></td>
                          <td><p>{{change.description | truncate:140}}</p></td>
                         <td><p>{{change.startTime}}</p></td>
                         <td><p>{{change.endTime}}</p></td>
                         <td><p>{{change.assignedTo}}</p></td>
                         <td><p>{{change.contact}}</p></td>
                         <td><p>{{change.resolution}}</p></td>
                         <td><p>{{change.createdBy}}</p></td>
                         <td><p>{{change.status}}</p></td>
                        </tr></table>
              </div>
           </div><br> 
        </div>
     </div>
   </div>