@import url("https://fonts.googleapis.com/css?family=Roboto");
div{
    font-family: 'Roboto',sans-serif;
    }
.top-bar {
    background-color: #96C1BC;
    position: absolute;
    padding: 0%;
    margin: 0%;
    height: 10%;
    width: 100%;
}

.top-bar .logo {
    position: absolute;
    top:0%;
    left:2%;
    display: block;
    width: 160px;
    height: 53px;
}

.top-bar-title {
    font-family: 'Roboto',sans-serif;
    font-size: 22px;
    color: #DDD63C;
    text-align: center;
}

.nav-menu1 a {
    color: white;
    font-family: 'Permanent Marker', cusive;
    text-decoration: none;
    position: absolute;
    top: 0%;
    left: 15%;
    font-size: 15px;
    cursor: pointer;

}


.nav-menu3 a {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 0%;
    left: 25%;
    font-size: 15px;
    cursor: pointer;
}
.nav-menu2  a {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 40%;
    right: 5%;
    font-size: 15px;
    cursor: pointer;
}

.nav-menu4 {
    color: white;
    font-weight: lighter;
    text-decoration: none;
    position: absolute;
    top: 0%;
    right: 3%;
    font-size: 18px;
}

.nav-menu1 .nav-menu2 .nav-menu3 {
    list-style-type: none;
    display: block;
}

li {
    list-style-type: none;
}


.container {
    position: absolute;
    top: 10%;
    padding: 0%;
    margin-top: 0%;
    width: 100%;
    height: 100%;
}


#customers {
    width: 100%;
}

#customers td, #customers th {
    border: 2px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
    background-color: #00C9C6;
    color: white;
    text-align: center;
}

#customers td {
    padding: 6px 6px 6px 6px;
    width: fit-content;
    text-align: center;
}

.verticalNavBar {
    position: absolute;
    left:0%;
    height: 95%;
    width: 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #00C9C6;
    color: black;
}

li a:hover:not(.active) {
    background-color: #333333;
    color: white;
}

.btnEdit:hover {
    background-color: #333333;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btnClose:hover {
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btnEdit {
    top: 10px;
    padding: 0px 10px; 
    color: #333;
    font-weight: bold;
}

.btnClose {
    top: 10px;
    left: 10px;
    padding: 0px 10px; 
    color: red;
    font-weight: bold;
}

a {
    cursor: pointer;
}

div {
    font-family: 'Roboto', sans-serif;
}