<nav-bar></nav-bar>

  
<div class="carousel">
        <div class="carousel-inner">
            <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
            <div class="carousel-item trickcenter">
                <img src="https://wallpapercave.com/wp/wp3661694.jpg">
            </div>
            <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item trickcenter">
                <img src="https://wallpapercave.com/wp/wp27626.png">
            </div>
            <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item trickcenter">
                <img src="https://wallpapercave.com/wp/wp3661690.jpg">
            </div>
            <label for="carousel-3" class="carousel-control prev control-1">‹</label>
            <label for="carousel-2" class="carousel-control next control-1">›</label>
            <label for="carousel-1" class="carousel-control prev control-2">‹</label>
            <label for="carousel-3" class="carousel-control next control-2">›</label>
            <label for="carousel-2" class="carousel-control prev control-3">‹</label>
            <label for="carousel-1" class="carousel-control next control-3">›</label>
            <ol class="carousel-indicators">
                <li>
                    <label for="carousel-1" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-2" class="carousel-bullet">•</label>
                </li>
                <li>
                    <label for="carousel-3" class="carousel-bullet">•</label>
                </li>
            </ol>
        </div>
    </div>
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <h2>CMV2.0 is an open source audit and configuration management utility to help automate system configuration across large IT infrastructures. </h2>
        </div>
        <div class="flip-box-back">
          <h2>CMV2.0 relies on a lightweight local agent installed on each managed machine.</h2>
        </div>
      </div>
    </div>
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <h2>Get a quick overview via our online demo. No real machines though! </h2>
        </div>
        <div class="flip-box-back">
          <h2>mail to abinav@gmail.com or contact toll free: 1800-800-800</h2>
        </div>
      </div>
    </div>
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <h2>Operating system: Unix-like, Microsoft Windows, Android </h2>
        </div>
        <div class="flip-box-back">
          <h2>License: GNU General Public License
              Developer(s): Abinav</h2>
        </div>
      </div>
    </div>
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <h2>Host inventory
              Feature-complete Web interface
              Standardized, reusable policies
              Custom Policy editor</h2>
        </div>
        <div class="flip-box-back">
          <h2>Change Request / Validation
              REST API</h2>
        </div>
      </div>
    </div>
<div>
    <footer class="footer-distributed">

        <div class="footer-left">
  
            <a href="#"> <img class="logo" src="http://www.psiog.com/logo.png">
            </a>
  
          <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Blog</a>
            ·
            <a href="#">Pricing</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">Faq</a>
            ·
            <a href="#">Contact</a>
          </p>
  
          <p class="footer-company-name">CMV Management V2.0 &copy; 2015</p>
        </div>
  
        <div class="footer-center">
  
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span>21 Revolution Street</span> Houston, New York</p>
          </div>
  
          <div>
            <i class="fa fa-phone"></i>
            <p>+1 555 123456</p>
          </div>
  
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">SupportCMV@cmv2.com</a></p>
          </div>
  
        </div>
  
        <div class="footer-right">
  
          <p class="footer-company-about">
            <span>About the company</span>
            CMV2.0 is an open source audit and configuration management utility to help automate system configuration across large IT infrastructures
          </p>
  
          <div class="footer-icons">
  
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
  
          </div>
  
        </div>
  
      </footer>
      </div>

    